<p id="notice"><%= notice %></p>

<h1>Keystroke Sessions</h1>

<table>
  <thead>
    <tr>
      <th>text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @keystroke_sessions.each do |keystroke_session| %>
      <tr>
        <td><%= keystroke_session.text %></td>
        <td><%= link_to 'Show', keystroke_session %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Keystroke Session', new_keystroke_session_path %>
