<p id="notice"><%= notice %></p>

<p>
  <strong>Inputs:</strong>
  <%= @keystroke_session.inputs %>
</p>

<%= link_to 'Edit', edit_keystroke_session_path(@keystroke_session) %> |
<%= link_to 'Back', keystroke_sessions_path %>
